.ArchiveDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 84%;               /* 왼쪽 16%를 남김 */
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* 배경 반투명 */
    display: flex;
    justify-content: center;  /* 왼쪽이 비워지고 오른쪽에 붙도록 */
    align-items: center;
    z-index: 1000;
    margin-left: 16%;        /* 왼쪽 공간 확보 */
    box-sizing: border-box;   /* padding 포함 width 계산 */
}
